.picture {
    min-height: 740px;
    margin: 0;

    @media (max-width: 1727px) {
        min-height: 460px;
    }

    @include vp-1023 {
        min-height: 460px;
    }

    @include vp-767 {
        min-height: 300px;
    }

    &__wrapper-image {
        width: 100%;
    }
}

.picture--accent {
    min-height: unset;
}